/* variaveis */
:root {
    --vermelho-escuro: #B05252;
    --preto-navbar: #181818;
    --cinza: #D9D9D9;
    --cinza-da-navbar: #8D8D8D;
    --cinza-dos-gatoides-e-mapas: #A6A6A6;
}

/* codigo para a pagina ao todo */
* {
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cinza);
}

/* codigo para a navbar */
header > nav {
    background-color: var(--preto-navbar);
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
    position: relative; 
}

header > nav > img {
    height: 40px;
    width: 65px;
}

header > nav > .hamburger {
    display: none;
    background: none;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto; 
    height: 45px;
    width: 50px;
    transition: background-color 0.3s; 
}

header > nav > a {
    text-decoration: none;
}

img#logoNavbar {
    margin-top: 7px;
    border-radius: 10px;
}

/* codigo para os botoes da navbar */
button.navbarButton {
    background-color: var(--preto-navbar);
    color: #fff;
    font-size: 1.4em;
    padding: 6px 20px; 
    border: none;   
    cursor: pointer;
    margin-left: 20px; 
    transition: border-bottom 0.3s; 
}

button.navbarButton:hover {
    border-bottom: 4px solid var(--vermelho-escuro); 
    margin-bottom: -2px; 
}

button#jogar {
    border: none;
    border-radius: 20px;
    background-color: var(--vermelho-escuro);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto; 
    transition: background-color 0.3s; 
}

button#jogar:hover {
    background-color: #A05252; 
}

/* codigo do dropdown container para o botao de informações da navbar*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--preto-navbar);
    opacity: 0.8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--vermelho-escuro);
    color: #fff;
}

main > div > img.banner {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
}

.banner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; 
}

.banner-container h1 {
    position: absolute;
    color: white;
    font-size: 3em; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    z-index: 2; 
}

/* Em relação a responsividade */
@media (max-width: 900px) {
    /* Ajuste na navbar */
    header > nav {
        height: 90px;
    }
}

@media (max-width: 768px) {
    /* configurações para a navbar */
    header > nav {
        flex-direction: column; 
        height: auto; 
    }

    img#logoNavbar {
        margin-top: 12px;
    }

    header > nav > .hamburger {
        display: block; 
        margin-bottom: 10px;
    }

    header > nav > .hamburger:hover {
        background-color: var(--vermelho-escuro);
    }

    header > nav > a,
    button.navbarButton,
    button#jogar {
        display: none; 
    }

    header > nav.active a,
    header > nav.active button {
        display: block; 
        margin: 10px 0; 
    }

    nav.active button#jogar {
        display: block;
        margin: 10px 0;
    }
    
}