/* variaveis */
:root {
    --vermelho-escuro: #B05252;
    --preto-navbar: #181818;
    --cinza: #D9D9D9;
    --cinza-escuro: #303030;
    --cinza-da-navbar: #8D8D8D;
    --cinza-dos-gatoides-e-mapas: #A6A6A6;
}

/* codigo para a pagina ao todo */
* {
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* codigo para a navbar */
header > nav {
    background-color: var(--preto-navbar);
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
    position: relative; 
}

header > nav > img {
    height: 40px;
    width: 65px;
}

header > nav > .hamburger {
    display: none;
    background: none;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto; 
    height: 45px;
    width: 50px;
    transition: background-color 0.3s; 
}

header > nav > a {
    text-decoration: none;
}

img#logoNavbar {
    margin-top: 7px;
    border-radius: 10px;
}

/* codigo para os botoes da navbar */
button.navbarButton {
    background-color: var(--preto-navbar);
    color: #fff;
    font-size: 1.4em;
    padding: 6px 20px; 
    border: none;   
    cursor: pointer;
    margin-left: 20px; 
    transition: border-bottom 0.3s; 
}

button.navbarButton:hover {
    border-bottom: 4px solid var(--vermelho-escuro); 
    margin-bottom: -2px; 
}

button#jogar {
    border: none;
    border-radius: 20px;
    background-color: var(--vermelho-escuro);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto; 
    transition: background-color 0.3s; 
}

button#jogar:hover {
    background-color: #A05252; 
}

/* codigo do dropdown container para o botao de informações da navbar*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--preto-navbar);
    opacity: 0.8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--vermelho-escuro);
    color: #fff;
}

/* sobre o carrocel do inicio da pagina / banner */
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 350px; 
    object-fit: cover;
}

/* para o carrocel do banner do inicio ficar em baixo do menu do botao informações do jogo */
div#carouselExampleFade {
    z-index: 1;
}

/* div para o botao de baixo do carrocel */
.carousel-caption {
    top: 25%;    
    text-align: center;
}

/* botao jogar que fica em baixo do carrocel na section */
button#jogarBanner {
    border: none;
    border-radius: 20px;
    background-color: var(--vermelho-escuro);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto; 
    transition: background-color 0.3s; 
    width: 250px;
}

button#jogarBanner:hover {
    background-color: #A05252; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

/* Personagens*/
main > section#characters > h2 {
    background-color: var(--preto-navbar);
    color: white;
    padding: 0px 10px;
    font-size: 2.5em;
    margin: 50px 16px;
    border-radius: 10px;
    text-align: center;
}

main > section#characters > div.background {
    background-color: var(--cinza);
    margin: 0px 16px;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.200);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.characterContainer {
    position: relative;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.characterContainer:hover {
    margin-top: 35px;
    margin-bottom: 35px;
    transform: scale(1.15);
    transition: 0.3s;
}

.characterContainer img {
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.200);
    max-width: 250px; 
    width: 100%; 
    height: auto;
}

.characterName {
    background-color: var(--preto-navbar);
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); 
    width: 240px; 
    text-align: center;
    padding: 5px 0; 
}

.characterContainer:hover .characterName {
    color: white; 
    background-image: linear-gradient(var(--vermelho-escuro), var(--vermelho-escuro));
    background-size: 100% 40px;
    background-position: bottom; 
    background-repeat: no-repeat;
}

/* sobre a aba do suporte e a expansão do chatbot */
.suporte-aba {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #f1f1f1;
    transition: right 0.4s;
    z-index: 1000;
    padding: 20px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.5);
}

.suporte-aba.ativa {
    right: 0;
    background-color: var(--vermelho-escuro);
}

.suporte-aba p {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.suporte-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suporte-header h2 {
    margin: 0;
}

.fechar-aba {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.chat-bot {
    height: 150px;
    background-color: #ddd;
    margin-top: 20px;
    transition: height 0.4s;
}

.chat-bot.expandido {
    height: 100%;
}

#suporte {
    position: relative;
}

.chatbot-preview {
    width: 260px;
    height: 300px;
    background-color: var(--preto-navbar);
    color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 21px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.header-preview p{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(192, 61, 61);
}

.footer-preview {
    background-color: rgb(192, 61, 61);
    padding: 10px 0px;
    margin-top: 125px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button#btn-submit-preview {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
}

button#btn-submit-preview:hover {
    cursor: pointer;
    transition: .4s;
    background-color: rgb(255, 146, 146);
    color: white;
}

.chatbot-expanded {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.chatbot-expanded.active {
    display: flex; 
}

.botoes-info {
    margin-top: 20px;
}

.botoes-info button {
    background-color: white;
    border: none;
    color: var(--vermelho-escuro);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}

.botoes-info button:hover {
    color: white;
    background-color: #ff8585; 
    transition: .4s;
}

/* Em relação a responsiviade */
@media (max-width: 900px) {
    /* Ajuste na navbar */
    header > nav {
        height: 90px;
    }
}

@media (max-width: 768px) {
    /* configurações para a navbar */
    header > nav {
        flex-direction: column; 
        height: auto; 
    }

    header > nav > .hamburger {
        display: block; 
    }

    header > nav > .hamburger:hover {
        background-color: var(--vermelho-escuro);
    }

    header > nav > a,
    button.navbarButton,
    button#jogar {
        display: none; 
    }

    header > nav.active a,
    header > nav.active button {
        display: block; 
        margin: 10px 0; 
    }

    nav.active button#jogar {
        display: block;
        margin: 10px 0;
    }

    main > section#characters > div.background > img {
        max-width: 150px;
    }
}