:root {
    --vermelho-escuro: #B05252;
    --preto-navbar: #181818;
    --cinza: #D9D9D9;
    --cinza-da-navbar: #8D8D8D;
    --cinza-dos-gatoides-e-mapas: #A6A6A6;
    --dark: #0c0c0c;
    --white: #fff;
    --purple: #5959ff;
    --gray: #949494;
    --gray2: #cccccc;
}

.back-button {
    position: fixed; 
    top: 10px;
    left: 20px;
    border: none; 
    border-radius: 5px;
    color: var(--preto-navbar); 
    font-size: 1.2rem; 
    cursor: pointer; 
    z-index: 1000; 
    padding: 10px;
    color: white;
    background-color: var(--vermelho-escuro);
}

.back-button:hover {
    color: white;
    background-color: rgb(255, 146, 146);
    cursor: pointer;
    transition: .4s;
}

.box-questions {
    margin-top: 3rem;
    background-color: var(--preto-navbar);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 620px;
    max-height: 800px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
}

.header {
    background-color: var(--vermelho-escuro);
    color: var(--white);
    border-radius: 10px 10px 0 0;
    font-size: 1.4rem;
}

.footer {
    background-color: var(--vermelho-escuro);
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}

input {
    width: 50%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: black;
}

button#btn-submit {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
}

button#btn-submit:hover {
    cursor: pointer;
    transition: .4s;
    background-color: rgb(255, 146, 146);
    color: white;
}

#history {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.box-my-message {
    display: flex;
    justify-content: flex-end;
}

.box-response-message {
    display: flex;
    justify-content: flex-start;
}

.my-message,
.response-message {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    margin: 0;
}

.my-message {
    text-align: right;
    background-color: var(--gray);
}

.response-message {
    text-align: left;
    background-color: var(--gray2);
}